@mixin container($type: default) {
    @if $type == default {
        width: 100%;
        max-width: 100%;
        padding: 0 32px;
        margin: 0 auto;

        @media only screen and (min-width: 1920px) {
            // max-width: 1920px;
        }
    }

    @else if $type == short {
        width: 100%;
        max-width: 100%;
        padding: 0 64px;
        margin: 0 auto;

        @media only screen and (min-width: 1920px) {
            max-width: 1792px;
        }
    }
}

@mixin placeholder {
    ::-webkit-input-placeholder {
        @content
    }

    :-moz-placeholder {
        @content
    }

    ::-moz-placeholder {
        @content
    }

    :-ms-input-placeholder {
        @content
    }

    &::placeholder {
        @content
    }
}

@mixin scroll-bar(
    $width: 10px,
    $height: 12px,
    $thumb-color: var(--color-blue-bayoux-light),
    $scrollbar-color: var(--color-catskill-white),
    $thumb-hover-color: var(--color-blue-bayoux),
) {
    &::-webkit-scrollbar {
        width: $width;
        height: $height;
        background-color: $scrollbar-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $thumb-color !important;
        box-shadow: inset 1px 1px 10px $thumb-color !important;
        border-radius: $width * 0.5;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $thumb-hover-color !important;
    }
}
