@import '&/app/styles/_mixins.scss';

.sections {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding: 0 5px 10px 0;
  max-height: calc(100vh - 270px);
  @include scroll-bar(5px)
}

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.current {
  background-color: #f3f3f3;
  margin: 8px;
  padding: 8px;
}

.currentLabel {
  font-weight: bold;
  margin-inline-start: 0.5em;
}

.draggingSource {
  opacity: 0.3;
}

.dropTarget {
  background-color: #e8f0fe;
}
