.menu {
  color: var(--color-blue-bayoux);
  transition: .25s ease-in-out;
  display: flex;
  align-items: center;
}

.active {
  color: var(--color-white);
}

.dropdown {
  padding: 2px 0 2px 5px;
}

.wrapper {
  border: none!important;
}
.chip {
  border-radius: 12px;
  border: none!important;
  padding: 0!important;
}

.title {
  display: flex;
  gap: 5px;
  align-items: center;
}
.controls {
  display: flex;
  align-items: center;
  gap: 5px;
}