.container {
  display: grid;
  grid-template-columns: 55px auto 25px;
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px !important;
  gap: 15px;
  color: var(--color-blue-bayoux);

  &:after, &:before {
    display: none !important;
  }
}
.menu {
  color: var(--color-blue-bayoux);
  transition: .25s ease-in-out;

  &:hover {
    color: #000;
  }
}
.dropdown {
  padding: 2px 10px;
}
.controls {
  display: flex;
  align-items: center;
  gap: 5px;
}