.tag {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
  background: var(--color-athens-gray);
}

.section {
  background: var(--color-athens-gray);
  padding: 10px;
  border-radius: 6px;
  transition: .25s ease-in-out;
  border: 1px solid var(--color-grey);
  margin: 0;
  color:  var(--color-blue-bayoux);
  display: grid;
  grid-template-columns: auto 24px;
  align-items: center;
  font-weight: 500;
}
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-blue-bayoux);
  width: 24px!important;
  height: 24px!important;
}
.title {
  font-weight: 500;
}