@import "&/app/styles/_mixins.scss";

.layout {
    background: var(--bg-layout-base);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    @include container('default');
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
    margin-bottom: 32px;
}

.header {
    min-height: 96px;
    padding: 24px;
    display: flex;
    align-items: center;
    width: 100%;
}

.header-logo {
    width: 224px;
    height: 32px;
    flex: 0 0 224px;
}

.header-pofile {
    width: 300px;
    flex: 0 0 300px;
    margin-left: auto;
}
